<div>
	<%= form.label :name %>
	<%= form.text_field :name %>
</div>
<div>
	<%= form.label :company %>
	<%= form.text_field :company %>
</div>
<div>
	<%= form.label :email %>
	<%= form.text_field :email %>
</div>
<div>
	<%= form.label :phone %>
	<%= form.telephone_field :phone %>
</div>