<div>
	<%= form.label :name %>
	<%= form.text_field :name %>
</div>
<div>
	<%= form.label :company %>
	<%= form.text_field :company %>
</div>
<div>
	<%= form.label :title %>
	<%= form.text_field :title %>
</div>
<div>
	<%= form.label :address %>
	<%= form.text_field :address %>
</div>
