<div>
	<%= form.label :name %>
	<%= form.text_field :name %>
</div>
<div>
	<%= form.label :description %>
	<%= form.text_area :description %>
</div>
<div>
	<%= form.label :address %>
	<%= form.text_field :address %>
</div>
<div>
	<%= form.label :date %>
	<%= form.date_field :date %>
</div>
<div>
	<%= form.label :time %>
	<%= form.time_field :time %>
</div>
<div>
	<%= form.label :floor %>
	<%= form.text_field :floor %>
</div>
<div>
	<%= form.label :room %>
	<%= form.text_field :room %>
</div>
<div><%= form.hidden_field :owner_id, :value => current_user.id %><br /></div>
<%= link_to "Cancel", events_path %>
