<% if user_signed_in? %>
  <div> Events You Are Hosting </div>
  <% @events_hosting.each do |event| %>
  <div>
  	<%= link_to event.name, event%>
  	<%= link_to "Edit this event", edit_event_path(event) %>
  	<%= link_to "Delete this event", event, method: :delete, confirm: "Are you sure you want to delete this event?" %>
  </div>
  <% end %>

  <div> Events You Are Going To </div>
  <% @events_going_to.each do |event| %>
  <div>
    <%= link_to event.name, event%>
  </div>
  <% end %>

  <div><%= image_tag(@image) %></div>

  <%= link_to "Create new event", new_event_path %>

<% else %>
  <div>Sign in to get started</div>  
<% end %>