

<table>
	<td>
		<dt>
			<div><%= @event.name %></div>
			<div><%= @event.description %></div>
			<div><%= @event.address %></div>
			<div><%= @event.date.strftime("%m/%d/%Y") %></div>
			<div><%= @event.time.strftime("%H:%M") %></div>
			<div><%= "Floor #{@event.floor}" %></div>
			<div><%= @event.room %></div>
		</dt>
    <dt>
      <div><%= image_tag(@image) %></div>
    </dt>
		<dt>
			<div><% @guests.each do |guest| %></div>
				<div> ----------- </div>
				<div>
					<%= guest.name %>
					<%= link_to "Delete guest", event_guest_path(@event, guest), method: :delete if current_user.id == @event.owner_id %>
				</div>
				<div><%= guest.email %></div>
				<div><%= guest.phone %></div>
				<div><%= guest.company %></div>
				<div> ----------- </div>
			<% end %>
		</dt>
	</td>
</table>

<%= link_to "Back", events_path %>
<%= link_to "Delete this event", event_path(@event), method: :delete, confirm: "Are you sure you want to delete this event?" if current_user.id == @event.owner_id %>
<%= link_to "Edit this event", edit_event_path if current_user.id == @event.owner_id %>
<%= link_to "Add guests to event", new_event_guest_path(@event) if current_user.id == @event.owner_id %>