<!DOCTYPE html>
<html>
<head>
  <title>NewSecurityApp</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <script src="countdown.js"></script>
</head>
<body>

<% if current_user %>
	<%= link_to "Logout", destroy_user_session_path, method: :delete %>
	<% if current_user.name.nil? %>
		<%= link_to "Create your profile", edit_user_path(current_user) %>
	<% else %>
		<%= link_to current_user.name, user_path(current_user) %>
	<% end %>
<% else %>
	<%= link_to "Login", new_user_session_path %>
<% end %>


<%= nav_bar :fixed => :top, :brand => "Security Application" do %>
  <%= menu_group :pull => :right do %>
    
    <% if current_user %>
      <%= menu_item "Create new event", new_event_path, :class => 'create-new-event' %>
      <% if current_user.name.nil? %>
        <%= menu_item "Create your profile", edit_user_path(current_user) %>
      <% else %>
        <%= menu_item current_user.name, user_path(current_user) %>
      <% end %>
    <% end %>

    <% if current_user %>
        <%= menu_item "Log Out", destroy_user_session_path, method: :delete %>
    <% else %>
        <%= menu_item "Login", new_user_session_path %>
    <% end %>

  <% end %>
<% end %>


<!-- 
<div> Search by date </div>
<p>
  <%= date_field_tag :search, params[:search] %>
  <%= submit_tag "Search", :date => nil %>
</p>
-->

<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>

<%= yield %>

</body>
</html>
